#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 20rem;
  margin: 0.75rem 0;
  padding: 0.25rem;

  border: 1px solid white;
  border-radius: 5px;
}

button {
  background-color: #242424;
  border: 1px solid;
  border-color: #9f7aea;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  transition: all 0.2s;
}

button:hover {
  border-color: #4a1d96;
  opacity: 0.8;
}